:root {
	box-sizing: border-box;
}

*,
::before,
::after {
	box-sizing: inherit;
	padding: 0;
	margin: 0;
}

body {
	background: #eee;
	font-family: Helvetica, Arial, sans-serif;
}

a {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 0;
}

p {
	padding: 0.5rem 0;
}

.list li {
	list-style: none;
}

.list li {
	padding: 0.5rem 0;
	border-bottom: #eee dotted 1px;
	width: 90%;
}

.list li:hover {
	color: #fff;
	background: #000;
	padding: 0.5rem 0.2rem;
}

/* Buttons */

.btn {
	display: inline-block;
	border: none;
	background: #2a304c;
	color: #fff;
	padding: 0.5rem 1.5rem;
	text-decoration: none;
}

.btn-light {
	background: #fff;
}

.btn-primary {
	background: #2a304c;
}

.btn-secondary {
	background: #000;
}

.btn-block {
	display: block;
	width: 100%;
	text-align: center;
}

.btn:hover {
	opacity: 0.8;
}

/* headings */
.l-heading {
	font-size: 4rem;
	margin-bottom: 0.75rem;
	line-height: 1.1;
}

.m-heading {
	font-size: 2rem;
	margin-bottom: 0.75rem;
	line-height: 1.1;
}

.heading {
	font-size: 2rem;
	padding-bottom: 2rem;
	text-align: center;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 0.1em;
}

.letter-space {
	letter-spacing: 0.05em;
}

.py-1 {
	padding: 1.5rem 0;
}
.py-2 {
	padding: 2rem 0;
}
.py-3 {
	padding: 3rem 0;
}

.my-1 {
	padding: 1.5rem 0;
}
.my-2 {
	padding: 2rem 0;
}
.my-3 {
	padding: 3rem 0;
}

/* whole site */

.container {
	max-width: 1080px;
	margin: 0 auto;
	/* overflow-y: scroll; */
}

/* Mobile Menu */

.menu {
	display: none;
}

/* Site Navigatin */

.main-header {
	position: sticky;
	top: 0;
	z-index: 2;
	background: #fff;
	transition: background 0.5s, transform 0.25s ease-in-out;
	border-bottom: 2px solid #2a304c;
}

.navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 10vh;
}

.main-header .brand-logo {
	width: 200px;
}

.site-nav {
	display: flex;
	list-style-type: none;
	padding: 0.5em 0;
}

.site-nav > li {
	margin-top: 0;
}

.site-nav > li > a {
	text-decoration: none;
	padding: 0.5em 1em;
	color: #000;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

.site-nav > li > a:hover {
	background: #000;
	color: #fff;
	border-radius: 0.2em;
}

.site-nav > .nav-right {
	margin-right: auto;
	align-items: center;
}
/* About */
#about {
	background: #fff;
	padding: 8rem 0;
}

#about p {
	text-align: center;
	padding-bottom: 3rem;
	font-size: 1.5rem;
	line-height: 1.9;
}

#about .about-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 1rem;
}

#about .about-items {
	background: #eee;
	text-align: center;
	padding: 2rem;
}
#about .about-items:nth-child(2) {
	background: #2a304c;
	color: #fff;
}
#about .about-items:nth-child(2) i {
	border: 1px solid #fff;
}
#about .about-items i {
	background: #2a304c;
	color: #fff;
	padding: 1rem;
	border-radius: 1px solid #fff;
	-webkit-border-radius: 1px solid #fff;
	-moz-border-radius: 1px solid #fff;
	-ms-border-radius: 1px solid #fff;
	-o-border-radius: 1px solid #fff;
	margin-bottom: 1rem;
	font-size: 2rem;
}

#about .about-items h3 {
	font-size: 1.5rem;
	font-weight: lighter;
	line-height: 1.1;
	padding-bottom: 0.5rem;
}
/* call to action */
#call-action {
	background: #2a304c;
	color: #fff;
	text-align: center;
	padding: 7rem;
}

#call-action p {
	font-size: 2rem;
	text-align: center;
	text-transform: uppercase;
	font-weight: lighter;
	padding-bottom: 1rem;
}

#call-action a {
	font-size: 2rem;
	margin-top: 0.7rem;
	padding: 1rem;
	text-align: center;
	text-transform: uppercase;
	font-weight: lighter;
	color: #fff;
	border-bottom: 1px solid #fff;
}

#call-action a:hover {
	background: #000;
	color: #fff;
	cursor: pointer;
}

/* Whatwedo */

.about-container .about-items .whatwedo-content {
	display: none;
}

/* Products */
#products {
	margin: 100px 0;
}
#products .covers-container .whatwedo-header {
	margin-top: 5rem;
}
#products .covers-container .whatwedo-main {
	margin-top: 3rem;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 1rem;
}
#products .covers-container .whatwedo {
	background: #fff;
}

#products .covers-container .whatwedo h3 {
	text-align: center;
	padding: 25px !important;
	font-weight: 400;
}

/* showcase */

#showcase {
	color: white;
	background: #333;
	/* padding: 2rem; */
	position: relative;
}

#showcase:before {
	content: "";
	background: url("../images/mjcovers_home_two.jpg") no-repeat center
		center/cover;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.4;
}

#showcase .showcase-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	height: 70vh;
}

#showcase .showcase-content {
	z-index: 1;
}

#showcase .showcase-content h1 {
	font-weight: lighter;
}
#showcase .showcase-content p {
	margin-bottom: 1rem;
	font-size: 1.1rem;
	line-height: 1.3;
}

/* Showcase */

#home-showcase {
	margin: 4rem 0;
}

#home-showcase .showcase-container {
	padding: 3rem 1rem;
}

#home-showcase .container h2 {
	font-size: 2rem;
	padding-bottom: 2rem;
	text-align: center;
	text-transform: uppercase;
	font-weight: lighter;
}

#home-showcase .article-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 1rem;
}

#home-showcase .article-container article img {
	display: block;
	max-width: 100%;
}

/* main footer */

#main-footer {
	padding-top: 3rem;
	background: #2a304c;
	color: #fff;
}

#main-footer .footer-container {
	padding-top: 3rem;
	padding-bottom: 3rem;
}

#main-footer img {
	margin-top: 0.1rem;
	width: 150px;
}

#main-footer a {
	color: #fff;
}

#main-footer .footer-container h3 {
	text-transform: capitalize;
	font-weight: lighter;
}

#main-footer .footer-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 1.5rem;
}

#main-footer .footer-container > *:last-child {
	grid-column: 1 / span 3;
	padding: 0.5rem;
	text-align: center;
	font-size: 0.75rem;
}

#main-footer .footer-container ul {
	padding-left: 0;
}

#main-footer .footer-container input[type="email"] {
	width: 90%;
	padding: 0.5rem;
	margin-bottom: 0.5rem;
}

#main-footer .footer-container input[type="submit"] {
	width: 90%;
	cursor: pointer;
}

#main-footer .footer-container li:hover {
	cursor: pointer;
}

/* #footer-copyright {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 4;
} */

/* Contact Us */
#contact {
	background: #fff;
}
#contact .header-contact h2 {
	font-size: 2rem;
	padding-top: 5rem;
	text-align: center;
	text-transform: uppercase;
	font-weight: lighter;
}
#contact .header-contact p {
	text-align: center;
}
#contact .contact-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 1rem;
}
#contact .contact-container p {
	padding-bottom: 1rem;
}
#contact .contact-container h3 {
	font-weight: 600;
}
#contact .contact-container .form-group {
	margin: 0.75rem;
}

#contact .contact-container label {
	display: block;
	margin: auto 0;
}

/* contact form */
#contact .contact-container input,
#contact .contact-container textarea,
#contact .contact-container button {
	width: 100%;
	padding: 0.5rem;
}

#contact .contact-container button {
	padding: 0.6rem;
}
#contact .contact-container button:hover {
	cursor: pointer;
}

#contact .contact-container > :first-child h2,
#contact .contact-container > :first-child h3 {
	font-weight: lighter;
}
#contact .contact-container > :first-child p {
	padding-bottom: 1rem;
}

#contact .contact-container .address-span {
	font-weight: 600;
}
#contact .contact-container > :first-child,
#contact .contact-container > :last-child {
	padding: 3rem 0;
}

/* contact Addresses */
#contact .address-items {
	background: #eee;
	margin-top: 1rem;
	padding: 0.8rem;
	font-size: 1rem;
}

#contact .address-items i.icon {
	padding-right: 0.6rem;
}

#contact .address-items a {
	color: #000;
}

#contact .address-items li {
	list-style: none;
	padding: 1rem 0;
}

#contact .address-items li:hover {
	cursor: pointer;
}
